<h2 class="ру-3">Добавить покупателя</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <div class="mb-3">
    <label class="form-label" for="name">{{formLabels.name}}</label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': form['name'].valid,
                                                 'is-invalid': form['name'].invalid && form['name'].touched}"
           class="form-control" formControlName="name" id="name" placeholder="{{formPlaceholder.name}}" type="text">
    <div *ngIf="form['name'].valid" class="valid-feedback">{{formSuccess.name}}</div>
    <div *ngIf="form['name'].invalid && form['name'].touched" class="invalid-feedback">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">{{formLabels.email}}</label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': form['email'].valid,
                                                 'is-invalid': form['email'].invalid && form['email'].touched}"
           class="form-control" formControlName="email" id="email" placeholder="{{formPlaceholder.email}}" type="email">
    <div *ngIf="form['email'].valid" class="valid-feedback">{{formSuccess.email}}</div>
    <div *ngIf="form['email'].invalid && form['email'].touched" class="invalid-feedback">{{formErrors.email}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="mobile">{{formLabels.mobile}}</label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': form['mobile'].valid,
                                                 'is-invalid': form['mobile'].invalid && form['mobile'].touched}"
           class="form-control" formControlName="mobile" id="mobile" placeholder="{{formPlaceholder.mobile}}"
           type="tel">
    <div *ngIf="form['mobile'].valid" class="valid-feedback">{{formSuccess.mobile}}</div>
    <div *ngIf="form['mobile'].invalid && form['mobile'].touched" class="invalid-feedback">{{formErrors.mobile}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="location">{{formLabels.location}}</label>
    <input (blur)="onValueChanged()" [ngClass]="{'is-valid': form['location'].valid,
                                                 'is-invalid': form['location'].invalid && form['location'].touched}"
           class="form-control" formControlName="location" id="location" placeholder="{{formPlaceholder.location}}"
           type="text">
    <div *ngIf="form['location'].valid" class="valid-feedback">{{formSuccess.location}}</div>
    <div *ngIf="form['location'].invalid && form['location'].touched"
         class="invalid-feedback">{{formErrors.location}}</div>
  </div>
  <div class="mb-3">
    <button [disabled]="userForm.invalid" class="btn btn-info" type="submit">Сохранить</button>
  </div>
</form>

